annotated-types==0.7.0
boto3==1.37.38
botocore==1.37.38
jmespath==1.0.1
pydantic==2.11.3
pydantic_core==2.33.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
s3transfer==0.11.5
six==1.17.0
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
